.menuStyle {
  font-family: 'Raleway', serif;
  background-color: rgba(245, 245, 245, 0.4);
  color: #000;
  filter: brightness(100%);
}

.bodyPic {
  
  background-repeat: repeat-y;
  background-size: cover;
}

.bodyPic2 {
  
  background-repeat: repeat-y;
  background-size: cover;
}

.mainColor {
	color:#660033;
}

h1, h2, h3 {
		
		color: #660033;
		text-align: center;
		margin-left: 0px;
		font-family:'Raleway', serif;
}

h4 {
	color: #660033;
	text-align: left;
}

p, ul {
	font-family:'Raleway', serif;
	color: #660033;
	font-size: 18px;
	filter: brightness(100%);
}

.img1 {
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
}

.img2 {
	
	height: auto;
	max-width: 100%;
	padding: 1px;
	border: 1px solid #660033;
}

.center {
  text-align: center;
}

.well {
	background-color: rgba(245, 245, 245, 0.3) !important;
	padding-top: 90px;
	padding-bottom: 150px;
 
  }
  
.well2 {
	background-color: rgba(245, 245, 245, 0.7) !important;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	
  }  


.parallax {
	
	background-image: url("logo.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
	

@media screen and (max-width: 600px) {
  h1, h3 {
    font-size: 100% !important;
    color: #660033 !important;
    
	text-align: center;
	margin-top: 30px;
	background-repeat: no repeat;
  }
    
 footer{
	padding: 20px;
	margin-top: 20px;
	font-weigt: bold; 
	color: #ffffff;
	background-color:#e8491d;
	text-align: center;   
  }

 
}